#formEditor {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 2%;
  width: 53%;
}

.titulos {
  font-size: 28px;
  font-family: "Arial";
  color:whitesmoke;
}

#formConsola {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 4%;
  width: 41%;
}

#consola {
  height: 75vh;
  background-color: #1E1E1E;
  color:whitesmoke;
  font-family: Consolas; 
  font-size: 14px;
  border: 0;
}